.board-write-root-div{
    margin-left: 15%;
    margin-top: 4%;
    width: 70%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    border-radius: 5px;
    border: solid 1px lightgray;

    -webkit-box-shadow: 0px -2px 250px -54px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px -2px 250px -54px rgba(0,0,0,0.21);
    box-shadow: 0px -2px 250px -54px rgba(0,0,0,0.21);
}

.title-problem-div{
    display: flex;
    width: 100%;
    padding-left: 5%;
}

.title{
    font-size: 28px;
    margin-left: 3%;
    margin-right: 5%;
    padding: 10px;
    width: 85%;
    border-radius: 7px;
    margin-top: 5%;
}

.line{
    height: 10px;
    margin-left: 2%;
    width: 96%;
    border-top : solid 1px lightgray;
}

.problem{
    margin-left: -2%;
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    margin-top: 5%;
    width: 15%;
}

.title-text{
    margin-top: 5%;
    margin-left: 5%;
}

.editor{
    margin: 30px;
}

.tag-box{
    margin-left: 30px;
    display: flex;
}

.testcase-box{
    margin-left: 30px;
}

.tag-text{
    font-weight: bold;
}

.tag-input{
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    height: 65%;
    align-self: center;
    margin-left: 15px;
    width: 70%;
}

.limit-text-input{
    border-radius: 7px;
    padding: 10px;
    height: 65%;
    align-self: center;
    margin-left: 15px;
    width: 20%;
}

.category-box{
    margin-left: 30px;
    display: flex;
    height: 15%
}

.category-text{
    align-self: center;
}

.category-select{
    align-self: center;
    height: 30px;
    margin-left: 19px;
    margin-top: 5px;
}

.submit-button-div{
    width: 100%;
    display: flex;
    justify-content : center;
}

.submit-button{
    width: 15%;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
    align-self: center;
}

.testcase-add-button{
    width: 15%;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
    align-self: center;
}

.testcase-input-box{

}

.testcase-header-div{

}