.login-div-above-text{
    font-size: 25px;
    font-weight: bold;
    margin-left: 35%;
    margin-top: 7%;
}

.error-text-small{
    margin-top: 1%;
    margin-left: 15%;
    width: 70%;
    color: red;
}

.login-div{
    margin-left: 27.5%;
    width: 45%;
    height: 63%;
}

.login-text{
    font-size: 25px;
    font-weight: bold;
    margin:10%;
}

.id-box{
    margin-left: 15%;
    width: 70%;
    height: 46px;
}

.password-box{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 46px;
}

.login-and-join-div{
    margin-left: 15%;
    margin-top: 5%;
    display: flex;
}

.login-button{
    margin-top: 5%;
    margin-left: 15%;
    border-radius: 15px;
    width: 30%;
    height: 46px;
}

.join-text-login-css{
    margin-top: 30%;
    margin-left: 62%;
    align-self: center;
    font-size: 15px;
}



